<fieldset>

    <legend>Parametros</legend> 
    
    <div class="container-fluid">
      <div class="row-fluid">
        
          <div class="span4">


            <ul>
              <li><%= link_to "Cidades", cidades_path %></li>
              </br>
              <li><%= link_to "Localizacoes", locations_path %> </li> </br>
              <li><%= link_to "Moedas", moedas_path %></li>
              </br>
              <li><%= link_to "Usuarios", users_path %></li>
              </br>
              <li><%= link_to "Compania", companies_path %></li>
              </br>
            </ul>
            
          </div>

          <div class="span4">
            <ul>
              <li><%= link_to "Estados", estados_path %></li>
              </br>
              <li><%= link_to "Descricao das Fotos", fotosresposta_path %></li>
              </br>
              <li><%= link_to "Estatutos", estatutos_path %></li>
              </br>
              
            </ul>
            
          </div>

          <div class="span4">
            <ul>
              <li><%= link_to "Tipo de Imoveis", tipo_imovels_path %></li>
              </br>
              <li><%= link_to "Tipo de Negocio", tipo_negocios_path %></li>
              </br>
              <li><%= link_to "Tipologia", tipologia_path %></li>
              </br>
              
            </ul>
            
          </div>

          
        
      </div>
           
    </div>  
</fieldset>
