<h2>Lista de Moedas</h2>

<table>
  <tr>
    <th>Sigla</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moedas.each do |moeda| %>
  <tr>
    <td><%= moeda.sigla %></td>
    <td><%= moeda.descricao %></td>
    <td><%= link_to 'Show', moeda %></td>
    <td><%= link_to 'Edit', edit_moeda_path(moeda) %></td>
    <td><%= link_to 'Destroy', moeda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moeda', new_moeda_path %>
