<style>
  #map-rec {
    width: 170px;
    height: 200px;
  }
</style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
function initialize() {
  
  var geocoder;
  
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(-25.97097,32.582224),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var mapDiv = document.getElementById('map-rec');
  var map = new google.maps.Map(mapDiv, mapOptions);

  var myLatlng = new google.maps.LatLng(-25.97097,32.582224);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'REC'
  });
  
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>


<% @company = Company.first%> 
<div class="thumbnail">

  <div class="caption">
      
      <h3 style="color: #9eab3a">Contactos</h3>
      
      <p>
        <b>Email:</b>
        <%= mail_to @company.email, @company.email %>
      </p>

      <p>
        <b>Telefone:</b>
        <%= @company.telefone %>
      </p>

      <p>
        <b>Celular:</b>
        <%= @company.celular %>
      </p>

      <p>
        <b>Facebook:</b>
        <%= link_to "Rec", @company.facebook %>
      </p>

      <p>
        <b>Skype:</b>
        <a href="skype:<%= @company.skype %>?call"> REC </a>
        
      </p>

      <p>
        <b>Morada:</b>
        <%=@company.morada %>
        
      </p>
          
</div>

<div id = "map-rec"> 

</div>




</div>