<h1>Listing companies</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Facebook</th>
    <th>Skype</th>
    <th>Twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.nome %></td>
    <td><%= company.email %></td>
    <td><%= company.telefone %></td>
    <td><%= company.celular %></td>\
    <td><%= company.facebook %></td>
    <td><%= company.skype %></td>
    <td><%= company.twitter %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
