<script type="text/javascript">
  $(function(){

    $("#myCarousel").carousel({ interval: 5000, cycle: true });
  });
</script>



<% if !current_user %>

<% @imovels =Imovel.last(15).reverse%>          

<%@i=0%>

<div class="container-fluid">
    <div class="row-fluid">
    <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
              <% @imovels.each do |imovel| %> 
              
                  <%if @i%5==0%>
                     <% if @i==0%>
                        <div class="item active">
                        <%else%>
                  <div class="item">                  
                      <%end%>
                    <ul class="thumbnails">
                  <%end%>   
                      <li class="span3">
                            <div class="caption">
                                <h5>
                                </h5>
                            </div>
                            <div>
                              <a href= '<%=imovel_path(imovel)%>' >
                                <%= imovel.resumo %> </br>
                                <%= imovel.localizacao %>  </br>
                                <%= imovel.tipoNegocio %>  </br>
                                <%= imovel.tipoImovel %>  </br>
                                <%= imovel.tipologia %>  </br>
                                <%= number_to_currency(imovel.preco) %>

                              </a>
                                
                                <%#= link_to (image_tag imovel.getImagemGeral, :size => "150x150") , imovel_path(imovel) %>
                                  
                            </div>
                          
                        </li>
                    <%if (@i+1)%5 == 0 or  imovel.id == @imovels.last.id%>        
                      </ul>  
                    </div>
                    <%end%>
                
                <%@i=@i+1%>
                <% end %>
            </div>
            <%#
            <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a> %>
          
        </div>
</div>
</diV>


<% end %>
