<script>
  $(function () {
    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    
  })
  
  
</script>


<%= simple_nested_form_for @imovel ,  :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
 
  <div class="container">
    <div class="span6">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#dados">Dados Imovel</a></li>
      <li><a href="#localizacao">Localização</a></li>
      <li><a href="#dadoscom">Dados Comercias</a></li>
      <li><a href="#doc">Fotos/Documentos</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="dados">
        <%= f.input :referencia %>
        <%= f.input :resumo %>
        <%= f.input :descriacao , as: :text %>
      </div>
      <div class="tab-pane" id="localizacao">
        <%= f.input :pais %>
        <%= f.input :provincia %>
        
        <%= select("imovel","cidade", Cidade.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        
        <%= f.input :cidade %>
        <%= f.input :localizacao %>
        <%= f.input :area %>
      </div>
      <div class="tab-pane" id="dadoscom">
        <p>Tipo de Negocio  
        <%= select("imovel","tipoNegocio", TipoNegocio.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <p>Tipo de Imovel
        <%= select("imovel","tipoImovel", TipoImovel.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        <p>
        Estado
        <%= select("imovel","estado", Estado.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <%= f.input :preco %>
        <p>
        Moeda
        <%= select("imovel","moeda", Moeda.all.collect { |p| [p.descricao,p.sigla ]}, {include_blank: 'None'})%>
        </p>
      </div>
      <div class="tab-pane" id="doc">
        <div>
          
        <%= f.fields_for :documentos  ,  :html => {:multipart => true} do |doc| %>
         
            <%= select(:doc, :descricao,[ ["Foto Principal","Foto Principal"],["Foto","Foto"],["Video","Video"],["Documentacao","Documentacao"]])%>
            
            <%= doc.file_field :avatar %>
          
          <%= doc.link_to_remove "Apagar" %>
        <% end %>
        
        
           
        
        <p><%= f.link_to_add "Adicionar Documentos", :documentos %></p>
        </div>
      </div>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
