<%= simple_nested_form_for @imovel ,  :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
 
  <div class="container">
    <div class="span6">
      <fildset> <legend>Dados Imovel</legend>
        <%= f.input :referencia %>
        <%= f.input :resumo %>
        <%= f.input :descriacao , as: :text %>
      
    </fildset>
    </div>
    <div class="span4">
      <fildset> <legend>Localizacao</legend>
        <%= f.input :pais %>
        <%= f.input :provincia %>
        
        <%= select("imovel","cidade", Cidade.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        
        <%= f.input :cidade %>
        <%= f.input :localizacao %>
        <%= f.input :area %>
        
    </fildset>
    </div>
    <div class="span4">
        <fildset> <legend>Dados</legend>
        <p>Tipo de Negocio  
        <%= select("imovel","tipoNegocio", TipoNegocio.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <p>Tipo de Imovel
        <%= select("imovel","tipoImovel", TipoImovel.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        <p>
        Estado
        <%= select("imovel","estado", Estado.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <%= f.input :preco %>
        <p>
        Moeda
        <%= select("imovel","moeda", Moeda.all.collect { |p| [p.descricao,p.sigla ]}, {include_blank: 'None'})%>
        </p>
        
        </fildset>
  </div>
    <div class="span4">
      <fildset> <legend>Fotos</legend>
        <div>
        <%= f.fields_for :documentos  do |doc| %>
          <%= doc.input :descricao %>
          <%= doc.file_field :avatar %>
          <%= doc.link_to_remove "Apagar" %>
        <% end %>
        <p><%= f.link_to_add "Adicionar Documentos", :documentos %></p>
        </div> 
      </fildset>
    </div>
    
    
    
    
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
