<script>
//var x=document.getElementById("demo");

</script>

<script type="text/javascript">
  $(function(){

    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
    
    
    $("#imovel_tipoImovel").change( function() {
      var tipoimovel = $("#imovel_tipoImovel").val();
      $("#imovel_tipologia").empty();
      $('#imovel_tipologia').append('<option value="">' + "Tipologia" + '</option>');
      
      $.ajax({
         url: '/tipologia/0/getTipologias',
          data: "idTipoImovel=" + tipoimovel ,
          type:"get",
         dataType:"json", //the type of response you are expecting from the server
         success:function(data){
             
             //iterate over the result sent by the server and populate the category combo e.g.
             $.each(data,function(k,v){
               $("#imovel_tipologia").append("<option value="+ v.descricao +">"+v.descricao+"</option>");
             });

         },
         error:function(jxhr){
             console.log(jxhr.responseText);
         }


      });
    });
  });
</script>

<style>
	#map-canvas {
		width: 500px;
		height: 500px;
	}
</style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
function getLocation()
  {
    
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
  else{
    alert ("Geolocation is not supported by this browser.");
  }
}

function showPosition(position)
{
    var raio = 20;
    var geocoder;

    $("#imovel_latitude").val(position.coords.latitude);
   $("#imovel_longitude").val(position.coords.longitude);
  
  
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(position.coords.latitude ,position.coords.longitude),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var mapDiv = document.getElementById('map-canvas');
    var map = new google.maps.Map(mapDiv, mapOptions);

    var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
    // Add circle overlay and bind to marker
  var circle = new google.maps.Circle({
    map: map,
    radius:100,    // metres
    fillColor: '#CCFFE5'
  });

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Localizacao Actual'
  });

  circle.bindTo('center', marker, 'position');

  google.maps.event.addListener(map, 'click', function(event){
    
  $("#imovel_latitude").val(event.latLng.lat());
   $("#imovel_longitude").val(event.latLng.lng());
  
  
  
  
  var myLatlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
  
  // Add circle overlay and bind to marker
  var circle = new google.maps.Circle({
    map: map,
    radius:("#imovel_raio").val(),    // metres
    fillColor: '#AA0000'
  });
  circle.bindTo('center', marker, 'position');
 
  
  }
      
  );


}  

function initialize() {
  
  var geocoder;
  
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(-25.97097,32.582224),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var mapDiv = document.getElementById('map-canvas');
  var map = new google.maps.Map(mapDiv, mapOptions);

  
  google.maps.event.addListener(map, 'click', function(event){
  
  $("#imovel_latitude").val(event.latLng.lat());
   $("#imovel_longitude").val(event.latLng.lng());
  
  var myLatlng = new google.maps.LatLng(event.latLng.lat(),event.latLng.lng());
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
  
  // Add circle overlay and bind to marker
  var circle = new google.maps.Circle({
    map: map,
    radius:("#imovel_raio").val(),    // metres
    fillColor: '#AA0000'
  });
  circle.bindTo('center', marker, 'position');
  
  
}
);


}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>



<%= simple_nested_form_for @imovel ,  :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
 
  <div class="container">
    <div class="span6">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#dados">Dados Imovel</a></li>
      <li><a href="#localizacao">Localização</a></li>
      <li><a href="#dadoscom">Dados Comercias</a></li>
      <li><a href="#doc">Fotos/Documentos</a></li>
      <li><a href="#obs">Observações</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="dados">
        
        <%= f.input :resumo %>
        <%= f.input :descriacao , as: :text %>
      </div>
      <div class="tab-pane" id="localizacao">
        <%= select("imovel","cidade", Cidade.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        
        <%= f.input :area %>
        <%= f.input :localizacao %>
        <%= f.input :latitude , :width=>"500px"%>
        <%= f.input :longitude %>
        <%= f.input :raio %>
        
        
        
      </div>
      <div class="tab-pane" id="dadoscom">
        <p>Tipo de Negocio  
        <%= select("imovel","tipoNegocio", TipoNegocio.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <p>Tipo de Imovel
        <%= select("imovel","tipoImovel", TipoImovel.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <p>Tipologia
        <%= select("imovel","tipologia", Tipologium.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <p>
        Estado
        <%= select("imovel","estado", Estado.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>

        <p>
        Estuto
        <%= select("imovel","estatuto", Estatuto.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'})%>
        </p>
        
        <%= f.input :preco %>
        <p>
        Moeda
        <%= select("imovel","moeda", Moeda.all.collect { |p| [p.descricao,p.sigla ]}, {include_blank: 'None'})%>
        </p>
      </div>
      <div class="tab-pane" id="doc">
        <div>
          
        <%= f.fields_for :documentos  ,  :html => {:multipart => true} do |doc| %>
         
            <%= doc.select :descricao,Fotosresposta.all.collect { |p| [p.descricao,p.descricao ]}, {include_blank: 'None'}%>
            
            <%= doc.input :avatar, :as => :file %>
            
          
          <%= doc.link_to_remove "Apagar" ,class: "btn btn-small btn-danger" %>
        
        <% end %>
        
        
           
        
        <p><%= f.link_to_add "Adicionar Documentos", :documentos %></p>
        </div>
      </div>
      <div class="tab-pane" id="obs">
        <div>
          <%= f.input :referencia %>
          <%= f.input :user_id%>
        </div>
     
    </div>
    </div>

    

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <div id="map-canvas"></div>

<% end %>

<input type="button" value="Localizacao Actual" onclick="getLocation()"/> 
