<script type="text/javascript">
  $(function(){
    
    $("#idtipoImovel").change( function() {
      $("#idTipologia").empty();
      $('#idTipologia').append('<option value="">' + "Tipologia" + '</option>');
      
    if( $("#idtipoImovel").val() == "Apartamento") {
        $('#idTipologia').append('<option value="T1">' + 'T1' + '</option>');
        $('#idTipologia').append('<option value="T2">' + 'T2' + '</option>');
        $('#idTipologia').append('<option value="T3">' + 'T3' + '</option>');
        $('#idTipologia').append('<option value="T4">' + 'T4' + '</option>');
    }
    
    if( $("#idtipoImovel").val() == "Vivenda") {
        $('#idTipologia').append('<option value="V1">' + 'V1' + '</option>');
        $('#idTipologia').append('<option value="V2">' + 'V2' + '</option>');
        $('#idTipologia').append('<option value="V3">' + 'V3' + '</option>');
        $('#idTipologia').append('<option value="V4">' + 'V4' + '</option>');
    }
    });
  });
</script>


<div class="thumbnail">
  
  

<h2>Pesquisa</h2>

<form name="pesqRap" method="get" action=<%= imovels_path%>>
					
					<div class="form-group"> 
						<p>Referencia:
            <input  id ="idreferencia" type="text" name="idreferencia" class="boxGeral" style="width:128px;" value="" onfocus="gotFocus(this, 'Referência')" onblur="lostFocus(this, 'Referência')" onkeypress="submitonEnter(event)">
						</p>
						
            <p>
						<select id="idCidade" name="idCidade" class="boxGeral" style="width:138px;" onchange="freguesiasRap(this.form)">
						<option value="">Cidade</option>
						<option value=""></option> 
            <% Cidade.all.each do |cidade| %>
              <option value="<%=cidade.descricao%>"><%=cidade.descricao%></option>
            <%end%>
            </select>
						</p>
            
            <p>
						<select id ="idNegocio" name="idNegocio" class="boxGeral" style="width:138px;">
						<option value="">Tipo de negócio</option>
            
						<option value=""></option> 
            
            <%  TipoNegocio.all.each do |negocio| %>
              <option value="<%=negocio.descricao%>"><%=negocio.descricao%></option>
						<% end %>
            
            </select>
						</p>
						<p>
						<select  id= "idtipoImovel" name="idtipoImovel" class="boxGeral" style="width:138px;" >
						<option value="">Tipo de imóvel</option>
						<option value=""></option> 
            <%  TipoImovel.all.each do |imovel| %>
              <option value="<%=imovel.descricao%>"><%=imovel.descricao%></option>
						<% end %>
            </select>
						</p>
						<p>
							<select id="idTipologia" name="idTipologia" class="boxGeral" style="width:138px;">
							<option value="">Tipologia</option>
							<option value=""></option> 
            
              </select>
						</p>
						
            <p>
						<label>Preço De </label>
              <input type="text"id="prcMin" name="prcMin" style="width:138px;" class="numeric float optional" step="any" type="number">
              
              <label> a </label>
              <input type="text"id="prcMax" name="prcMax" style="width:138px;" class="numeric float optional" step="any" type="number">
						</p>
						
						<p class="estreito">
						  <input id= "flgDestaque" type="checkbox" name="flgDestaque" value="1">
                  &nbsp;<span>Em destaque</span>
            </p>
						
            <i class="icon-search"></i>
            <input class="btn btn-primary" type="submit" value="OK"/>
					</div>
</form>
</div>

