<fieldset>
    <legend>Lista de Imoveis</legend> 

<table class="table" >
<% @imovels.each do |imovel| %>
    <tr>
      <td border border="1" width="50%">
       
      <% imovel.documentos.each do |doc| %>
      <% if doc.descricao == "Geral" %> 
            <%= link_to (image_tag doc.avatar.url, :size => "200x200", class: "img-polaroid") , imovel_path(imovel) %>
          <%end%>
      <%end%>
    </td>
    <td>
      <br/>
      Referencia :<%= link_to imovel.id, imovel_path(imovel) %>
      <br/>
      Resumo :<%= imovel.resumo %>
      <br/>
      Tipo Negocio: <%= imovel.tipoNegocio %>
      <br/>
      Tipo Imovel: <%= imovel.tipoImovel %>
      <br/>
      Preco:
      <span class="price"><%= number_to_currency(imovel.preco ) %></span>
        <%#= imovel.moeda %>
      <br/>
      <% if can? :manage, current_user %> 
        <%= link_to 'Editar', edit_imovel_path(imovel), class: "btn btn-small btn-info" %> | 
        <%= link_to 'Apagar', imovel,class: "btn btn-small btn-danger", method: :delete, data: { confirm: 'Tens a certeza?' } %>
      <%end%>
    </td>
  </tr>
<% end %>
</table>

<center>
  <%= will_paginate ( @imovels) %>
  <%= page_entries_info  @imovels %><br/>
 
</center>

<br />
<% if can? :manage, current_user %> 
<%= link_to '+ Novo', new_imovel_path, class: "btn btn-small btn-info"  %> |
<% end %>
<%#= link_to 'Imprimir', imovels_path(format: 'pdf'), class: "btn btn-small btn-info" %>
</fieldset>