<fieldset>
    <legend>Lista de Imoveis</legend> 

<% if (@tipoPesquiza!= "")%>
<div class="alert">
        
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Pesquiza:</strong> 

          <div id="<%= @tipoPesquiza %>"><%= @tipoPesquiza %></div>.
        
</div>
<%end%>


<table class="table " >
<% @imovels.each do |imovel| %>
    <tr>
      <td border border="1" width="50%">
       
        <%= link_to (image_tag imovel.getImagemGeral , :size => "200x200") , imovel_path(imovel) %>
          
    </td>
    <td>
      <br/>
      <b>Referencia : </b><%= link_to imovel.id, imovel_path(imovel) %>
      <br/>
      Resumo :<%= imovel.resumo %>
      <br/>
      
      Cidade: <%= imovel.cidade %>
      <br/>
      Localização: <%= imovel.localizacao %>
      <br/>
      Tipo Negocio: <%= imovel.tipoNegocio %>
      <br/>
      Tipo Imovel: <%= imovel.tipoImovel %>
      <br/>
      Tipologia: <%= imovel.tipologia %>
      <br/>
      Preco:
      <span class="price"><%= number_to_currency(imovel.preco ) %></span>
        <%#= imovel.moeda %>
      <br/>
     
    </td>
  </tr>
<% end %>
</table>

<center>
  <%= will_paginate ( @imovels) %>
  <%= page_entries_info  @imovels %><br/>
 
</center>

<br />
<% if can? :manage, current_user %> 
<%= link_to '+ Novo', new_imovel_path, class: "btn btn-small btn-info"  %> |
<% end %>
<%#= link_to 'Imprimir', imovels_path(format: 'pdf'), class: "btn btn-small btn-info" %>
</fieldset>