<h1>Imoveis</h1>

<table class="table" >
<% @imovels.each do |imovel| %>
    <tr>
      <td border border="1" width="50%">
      <% if imovel.documentos.count > 0%>
            <%= link_to (image_tag imovel.documentos.first.avatar.url, class:"img-polaroid", :size => "200x200") ,imovel_path(imovel)  %>
          
      <%end%>  
      <%# imovel.documentos.each do |doc| %>
      <%# if doc.descricao = "Foto Principal"%> 
            <%#= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "200x200") , "/imovels/#{imovel.referencia}/detalhes" %>
          <%#end%>
      <%#end%>
    </td>
    <td>
      <br/>
      Referencia :<%= link_to imovel.referencia, imovel_path(imovel) %>
      <br/>
      Resumo :<%= imovel.resumo %>
      <br/>
      Tipo Negocio: <%= imovel.tipoNegocio %>
      <br/>
      Tipo Imovel: <%= imovel.tipoImovel %>
      <br/>
      Preco: <%= imovel.preco %> <%= imovel.moeda %>
      <br/>
      
        <%= link_to 'Editar', edit_imovel_path(imovel), class: "btn btn-small btn-info" %> | 
        <%= link_to 'Apagar', imovel,class: "btn btn-small btn-danger", method: :delete, data: { confirm: 'Tens a certeza?' } %>
     
    </td>
  </tr>
<% end %>
</table>

<center>
  <%= will_paginate ( @imovels) %>
  <%= page_entries_info  @imovels %><br/>
 
</center>

<br />

<%= link_to '+ Novo', new_imovel_path, class: "btn btn-small btn-info"  %>


