<%#<p id="notice"><%= notice %><%#</p> %>
<p>
<%#= image_tag "#{@imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "400x400"%>
 <% if @imovel.documentos.count > 0%>
<%= image_tag @imovel.documentos.first.avatar.url, class:"img-polaroid", :size => "400x400" %>
<%end%>     
         
<%# @imovel.documentos.each do |doc| %>
<%# if doc.descricao = "Foto Principal"%> 
            <%#= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "400x400") , "/imovels/#{@imovel.referencia}/detalhes" %>
          <%#end%>
      <%#end%>
</p>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Dados Gerais - <%= @imovel.referencia %>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>
          <b>Detalhes:</b>
          <%= @imovel.descriacao %>
        </p>

<p>
  <b>Tipo Imovel:</b>
  <%= @imovel.tipoImovel %>
</p>

<p>
  <b>Tipo de Negocio:</b>
  <%= @imovel.tipoNegocio %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Preco:</b>
  <%= @imovel.preco %> <%= @imovel.moeda%>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
  
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Galleria de Fotos
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
  
          <% @imovel.documentos.each do |doc| %>
  
            <% if doc.descricao = "Foto"%>
              <a data-gallery="gallery" href="#{image_tag doc.avatar.url}"> 
                <%= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "100x100") , doc.avatar.url %>
              </a>
            <%end%>
          <%end%>

        </div>
      
      </div>
    
    </div>
  </div>
</div>

<p>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
  
          <% @imovel.documentos.each do |doc| %>
  
            <% if doc.descricao = "Foto"%>
              <a data-gallery="gallery" href="#{image_tag doc.avatar.url}"> 
                <%= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "100x100") , doc.avatar.url %>
              </a>
            <%end%>
          <%end%>

        </div>



</p>


<%= link_to 'Editar', edit_imovel_path(@imovel), class: "btn btn-small btn-info" %> |
<%= link_to 'Voltar', imovels_path, class: "btn btn-small btn-danger" %>