<%#<p id="notice"><%= notice %><%#</p> %>
<p>
<%#= image_tag "#{@imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "400x400"%>
<%= link_to (image_tag @imovel.documentos.first.avatar.url, class:"img-polaroid", :size => "200x200") , "/imovels/#{@imovel.referencia}/detalhes" %>
          
<%# @imovel.documentos.each do |doc| %>
<%# if doc.descricao = "Foto Principal"%> 
            <%#= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "400x400") , "/imovels/#{@imovel.referencia}/detalhes" %>
          <%#end%>
      <%#end%>

</p>

<div class="alert">
   <strong>Dados Gerais - <%= @imovel.referencia %> </strong> 
</div>

<p>
  <b>Resumo:</b>
  <%= @imovel.resumo %>
</p>

<p>
  <b>Tipo Imovel:</b>
  <%= @imovel.tipoImovel %>
</p>

<p>
  <b>Tipo de Negocio:</b>
  <%= @imovel.tipoNegocio %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Preco:</b>
  <%= @imovel.preco %> <%= @imovel.moeda%>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
  
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>


<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
    
<% @imovel.documentos.each do |doc| %>
  
  <% if doc.descricao = "Foto"%>
    <a data-gallery="gallery" href="#{image_tag doc.avatar.url}"> 
    <%= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "100x100") , doc.avatar.url %>
    </a>
  <%end%>
<%end%>

</div>


<%= link_to 'Dados Completos', "/imovels/#{@imovel.referencia}/detalhes" %> |
<%= link_to 'Back', imovels_path %>
