<%#<p id="notice"><%= notice %><%#</p> %>
<p>
<%#= image_tag "#{@imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "400x400"%>
<%= link_to (image_tag @imovel.documentos.first.avatar.url, class:"img-polaroid", :size => "200x200") , "/imovels/#{@imovel.referencia}/detalhes" %>
          
<%# @imovel.documentos.each do |doc| %>
<%# if doc.descricao = "Foto Principal"%> 
            <%#= link_to (image_tag doc.avatar.url, class:"img-polaroid", :size => "400x400") , "/imovels/#{@imovel.referencia}/detalhes" %>
          <%#end%>
      <%#end%>

</p>


<b>Referencia:</b>
  <%= @imovel.referencia %>
</p>

<p>
  <b>Resumo:</b>
  <%= @imovel.resumo %>
</p>

<p>
  <b>Tipo Imovel:</b>
  <%= @imovel.tipoImovel %>
</p>

<p>
  <b>Tipo de Negocio:</b>
  <%= @imovel.tipoNegocio %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Preco:</b>
  <%= @imovel.preco %> <%= @imovel.moeda%>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
  
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>

<p>
  
</p>



<%= link_to 'Dados Completos', "/imovels/#{@imovel.referencia}/detalhes" %> |
<%= link_to 'Back', imovels_path %>
