<p id="notice"><%= notice %></p>

<%= image_tag "#{@imovel.referencia}-principal.jpg", class:"img-polaroid", :size => "200x200"%>

<p>
  <b>Descriacao:</b>
  <%= @imovel.descriacao %>
</p>

<p>
  <b>Resumo:</b>
  <%= @imovel.resumo %>
</p>

<p>
  <b>Referencia:</b>
  <%= @imovel.referencia %>
</p>


<p>
  <b>Tiponegocio:</b>
  <%= @imovel.tipoNegocio %>
</p>


<p>
  <b>Tipoimovel:</b>
  <%= @imovel.tipoImovel %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Preco:</b>
  <%= @imovel.preco %>
</p>

<p>
  <b>Pais:</b>
  <%= @imovel.pais %>
</p>


<p>
  <b>Provincia:</b>
  <%= @imovel.provincia %>
</p>

<p>
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
</p>



<%= link_to 'Edit', edit_imovel_path(@imovel) %> |
<%= link_to 'Back', imovels_path %>
