<style>
	#map-canvas {
		width: 500px;
		height: 500px;
	}
</style>
  
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
function initialize() {
  var lat = <%= @imovel.latitude %>
  var lng = <%=  @imovel.longitude %>
  var raio = <%=  @imovel.raio %>
  
  var geocoder;
  
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(lat,lng),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var mapDiv = document.getElementById('map-canvas');
  var map = new google.maps.Map(mapDiv, mapOptions);

  
  var myLatlng = new google.maps.LatLng(lat,lng);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
  
  // Add circle overlay and bind to marker
  var circle = new google.maps.Circle({
    map: map,
    radius:raio,    // metres
    fillColor: '#AA0000'
  });
  circle.bindTo('center', marker, 'position');
  
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<p>

<% @imovel.documentos.each do |doc| %>
      <% if doc.descricao == "Geral" %> 
            <%= image_tag doc.avatar.url, :size => "400x400"%>
          <%end%>
      <%end%>


  
</p>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Dados Gerais - <%= @imovel.referencia %>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>
          <b>Detalhes:</b>
          <%= @imovel.descriacao %>
        </p>

<p>
  <b>Tipo Imovel:</b>
  <%= @imovel.tipoImovel %>
</p>

<p>
  <b>Tipo de Negocio:</b>
  <%= @imovel.tipoNegocio %>
</p>

<p>
  <b>Estado:</b>
  <%= @imovel.estado %>
</p>

<p>
  <b>Area:</b>
  <%= @imovel.area %>
</p>

<p>
  <b>Preco:</b>
  <%= @imovel.preco %> <%= @imovel.moeda%>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
  
  <b>Cidade:</b>
  <%= @imovel.cidade %>
</p>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Galleria de Fotos
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        
        <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
  
          <% @imovel.documentos.each do |doc| %>
  
            <% if doc.descricao = "Foto"%>
              <a data-gallery="gallery" href="#{image_tag doc.avatar.url}"> 
                <%= link_to (image_tag doc.avatar.url, :size => "100x100", :title => doc.descricao) , doc.avatar.url %>
              </a>
            <%end%>
          <%end%>

        </div>
      </div>
    

    </div>
  </div>
  
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTree">
         Localização Mapa
      </a>
    </div>
    <div id="collapseTree" class="accordion-body collapse">
      <div class="accordion-inner">
        
         <div id="map-canvas"></div>
           
        
      </div>
    
    </div>
  </div>
</div>  


<% if can? :manage, current_user %> 
<%= link_to 'Editar', edit_imovel_path(@imovel), class: "btn btn-small btn-info" %> |
<%end%>
<%= link_to 'Voltar', imovels_path, class: "btn btn-small btn-danger" %> |
<%= link_to 'Imprimir', imovel_path(@imovel, format: 'pdf')  , class: "btn btn-small btn-info"%> 







<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <a data-gallery="gallery" href="http://farm4.static.flickr.com/3685/9996751123_2179a5ae86_b.jpg" title="Above the Mist"><img src="http://farm4.static.flickr.com/3685/9996751123_2179a5ae86_s.jpg"></a></div>











<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>