<!DOCTYPE html>
<html>
<head>
  <title>REC - REAL ESTATE CONSULTING </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
   
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    
    
    <div class="container">
      <div class="logo"> <%= link_to (image_tag "REC_top_logo.png", class:"img-polaroid", :size => "250x350") , "http://www.rec.co.mz"%>
 </div> 
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">      
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Imoveis", imovels_path %></li>
        </ul>
      </div>
      
      
      <!-- Start of the nav bar content -->
      <div class="nav-collapse"><!-- Other nav bar content -->
   
 
        <!-- The drop down menu -->
        <ul class="nav pull-right">
          
          
           <% if current_user %>  
            
              
            <li> <%= link_to "Editar Profile", edit_user_path(current_user) %> </li>  
            <li class="divider-vertical"></li>
            <li>  <%= link_to "Sair", logout_path %> </li>    
            
      <% else %>  
            <li><%= link_to "Registar", new_user_path %></li>  
            <li class="divider-vertical"></li>
            <li>  <%= link_to "Entrar", login_path %> </li>
          <% end %> 
          
          
          
          
          
         <%# <li class="dropdown">%>
         <%#   <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <!-- Login form here -->
            </div>
          </li>%>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="span3">
      <div class="bot-pad">
      </br></br></br></br>
        <%= render 'imovels/pesquisa' %>   
      </div>
    </div>
    <div class="span6">
    </br></br></br></br>
    <%- flash.each do |k, v| %>
        <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Alerta!</strong> <div id="<%= k%>"><%= v %></div>.
      </div>
        
      
      <% end %>
      
      <%= yield %>
   </div>
    <div class="span3">
    </br></br>  </br></br>
    <%= render 'imovels/destaque' %> 
      
      
      
    
    </div>
  </div>
  <div class="row">
  </br>
    <div class = "span10">
      <%= render 'imovels/destaques' %>
    </div>
  </div>
</div>
          
<div class = "footer">
  <div class="container">
    <div class="row">
      <div class="span7">
        <h1>Empresas do Grupo Meridian32</h1>
      </div>
    </div>
    <div class="row">
          
      <div class="span9">
          <div class="col cl">


<%= link_to (image_tag "GrupoMeridian_ACCSYS-ON.png", class:"img-polaroid", :size => "100x100") , "http://www.accsys.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_REC-ON.png", class:"img-polaroid", :size => "100x100") , "http://www.rec.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_AMBIQUAL-ON.png", class:"img-polaroid", :size => "100x100") , "http://www.ambiqual.com"%>         
<%= link_to (image_tag "GrupoMeridian_CEAL-ON.png", class:"img-polaroid", :size => "100x100") , "http://www.ceal.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_JA-ON.png", class:"img-polaroid", :size => "100x100") , "http://www.ja-mz.com"%>         


      </div>
    </div>
  </div>
  
  
  <p>
    <center>
      © Copyright <a href="http://www.rec.co.mz"> REC - Real Estate Consulting</a> - Powered by <a href="mailto:guimaraesmahota@gmail.com" >Guimarães Mahota Jr.
    </center>
    </p>
</div>

</body>
</html>
