<!DOCTYPE html>
<html>
<head>
  <title>REC - REAL ESTATE CONSULTING </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body onload="initialize()" class="main">

<div class="navbar navbar-inverse navbar-fixed-top" style="position: static">
  <div class="navbar-inner">
    <a class="brand" href="#">Intermediacao</a>
    
    <ul class="nav">
              
              <li><%= link_to "Inicio", root_path %></li>
              <li><%= link_to "Imoveis", imovels_path %></li>
    </ul>
            <!-- The drop down menu -->
    <ul class="nav pull-right">
          
          
              <% if current_user %>  
            
              
                <li>  
                    <%= link_to "Bem Vindo "+ current_user.name , edit_user_path(current_user) %> 
                </li>  
                
                <li>  <%= link_to "Sair", logout_path %> </li>    
            
            <% else %>  
            
              <li><%= link_to "Registar", new_user_path %></li>  
            
              <li>  <%= link_to "Entrar", login_path %> </li>
            <% end %> 
          </ul>
  </div>
</div>


<div class="hero-unit" style="background-image: url('https://s3.amazonaws.com/RecImoveis/Logotipos/REC_top_bg.jpg') ;">
        <div class="span4"> <%= link_to (image_tag "REC_top_logo.png", :size => "200x200") , "http://www.rec.co.mz"%>

        </div>
  <div class="span1 offset4">
        
        <img src="https://s3.amazonaws.com/RecImoveis/Logotipos/Logos_grupo-Meridian1.png" />

        
  </div>

          

</div>



<div class="container">
  <div class="row">
    <div class="span3">
      <div class="bot-pad">
      
        <%= render 'imovels/pesquisa' %>   
      </div>
    </div>
    <div class="span6">
    
    <%- flash.each do |k, v| %>
        <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Alerta!</strong> <div id="<%= k%>"><%= v %></div>.
      </div>
        
      
      <% end %>
      
      <%= yield %>
   </div>
    <div class="span3">
    </br></br>  </br></br>
    <%= render 'imovels/destaque' %> 
      
      
      
    
    </div>
  </div>
  <div class="row">
  
    <div class = "span10">
      <%= render 'imovels/destaques' %>
    </div>
  </div>
</div>
          
<div class = "footer">
  <div class="container">
    <div class="row">
      <div class="span7">
        <h2>Empresas do Grupo Meridian32</h2>
      </div>
    </div>
    <div class="row">
          
      <div class="span9">
          <div class="col cl">


<%= link_to (image_tag "GrupoMeridian_ACCSYS-ON.png", :size => "60x60") , "http://www.accsys.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_REC-ON.png", :size => "60x60") , "http://www.rec.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_AMBIQUAL-ON.png", :size => "60x60") , "http://www.ambiqual.com"%>         
<%= link_to (image_tag "GrupoMeridian_CEAL-ON.png", :size => "60x60") , "http://www.ceal.co.mz"%>         
<%= link_to (image_tag "GrupoMeridian_JA-ON.png", :size => "60x60") , "http://www.ja-mz.com"%>         


      </div>
    </div>
  </div>
  
  
  <p>
    <center>
      © Copyright <a href="http://www.rec.co.mz"> REC - Real Estate Consulting</a> - Powered by <a href="mailto:guimaraesmahota@gmail.com" >Guimarães Mahota Jr.
    </center>
    </p>
</div>

</body>
</html>
